
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: block;
  top: 0%;
  left: 0%;

    -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
  overflow: hidden;
  display: flex;
        flex-wrap: nowrap;
     
        align-items: center; 
        flex-direction: column;

}


.gridheader {
  order:1;
     width: 500px;
     height:100px;
  display: flex;
        flex-wrap: wrap;
        -webkit-transform: translate(0, 200px);
    transform: translate(0, 200px);
    justify-content: center;

}

.show-about {
  order:3;
  height:20px;
  border: 1px solid green;


}




#show-about-me {
width:100%;
  cursor: pointer;
 
} 

#show-about-me span {
     height: 4px;
     width:100%;
    background-color: black
  }

#show-about-me span#bar-1 {
    top: 0;
}
#show-about-me span#bar-2 {
    top: 7px;
}
#show-about-me span#bar-3 {
    top: 14px;
}



#show-menu {
width:100%;
  cursor: pointer;
  
} 


#show-menu span {


 
    width: 100%;
    height: 4px;
    background-color: black;
 
}

#show-menu span#bar-1 {
    top: 0;
}
#show-menu span#bar-2 {
    top: 7px;
}
#show-menu span#bar-3 {
    top: 14px;
}



.header__left {
width:100px;
height:100px;
order:1;
 
    background: lightblue;
   
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
    

   /*  -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
  
  }


  .header__right {
  width:400px;
  height:100px;
order:2;
      
      background: blue;
  
      font-size: 12px;
      font-family: "source-sans-pro", sans-serif;
      color: white;
      text-align: left;
      -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
     /*  -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0); */
     
  }


  

 .gridheader.open {
   margin-left:-100px;
  
  -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
         transition: all 800ms cubic-bezier(0.645,.045,0.355,1);  
  }
  

  body {
    margin: 0;
  
  }

.aboutme {

   display: flex; 
     flex-wrap: wrap;
     order:2;
 width:600px;
 height:300px;
 margin-left:0px;
  justify-content: center;
}

.show-m {
  order:3;
  height:20px;
  border: 1px solid green;
opacity:0;
 
}

.show-m.open {
 

 animation: topFadeOut 3.5s forwards, polygons2 1.5s infinite; 

}

@keyframes topFadeOut {
  
  from
  {
     opacity: 0;
  }

  to {
   
    opacity: 1;
  }

  
}

  

      @keyframes polygons2 {
    
      50% {
 
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {

        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }


  .mybio {
     width:300px;s
     height: 300px;
     order:1;
         background: lightblue;
     
      
      font-size: 12px;
      font-family: "source-sans-pro", sans-serif;
      color: white;
      text-align: left;
      -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
       -webkit-transform: translate(-1000px, 0);
      transform: translate(-1000px, 0); 
  }

  .mybio.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
        transition: all 800ms cubic-bezier(0.645,.045,.355,1);
  }


  .myphoto {
    width:300px;
     height: 300px;
     order:2;
      background: red;
      
      font-size: 12px;
      font-family: "source-sans-pro", sans-serif;
      color: white;
      text-align: left;
      -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
        -webkit-transform: translate(1000px, 0);
      transform: translate(1000px, 0); 
     /*  -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0); */
  
  }
  
.myphoto.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
        transition: all 800ms cubic-bezier(0.645,.045,.355,1);
  }

.nav {
   display: flex;
   order:3; 

        flex-wrap: wrap;
        justify-content: flex-end;

}

  .mysites {
   
      order:1;
 width:500px;
  height:100px;
  margin-left:100px;
  
    background: green;
    
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
   /*  -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
      -webkit-transform: translate(-1000px, 0);
      transform: translate(-1000px, 0);  
   
  }

  .mysites.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
        transition: all 800ms cubic-bezier(0.645,.045,.355,1);
  }
  
  
  /* .mysites:hover {
    cursor: pointer;
  
      background-image: url(../img/bg-menu.jpg);
          transform: rotateZ(-45deg) scale(10) translateY(27px);
    transition: all 800ms cubic-bezier(0.645,.045,.355,1);
  }
 */

 .mysites.show {
    background-image: url(../img/bg-menu.jpg);
          transform: rotateZ(-45deg) scale(10) translateY(27px);
    transition: all 800ms cubic-bezier(0.645,.045,.355,1);
  }


.anima3 {
    
  animation: polygons 1.5s infinite;
  }

    @keyframes polygons {
    
      
      50% {
      
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
     
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }

  


 /* .anima1 {
    animation: polygons 0.5s forwards;
  }

 .anima2 {
    animation: polygons 0.5s forwards;
  }
  
  @keyframes polygons {
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
  } */


  /* .anim {
     display: inline-block; 
    position:absolute;
    top: 400px;
    left: 100px;
    width: 250px;
    height: 250px;
    background: orange;
    cursor: pointer;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    animation: polygons 4s alternate infinite;
  }
  
  @keyframes polygons {
    25% {
      clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
      background: pink;
    }
    50% {
      clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
      background: orange;
    }
    75% {
      clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
      background: cornflowerblue;
    }
  } */