
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 100%;
  font: inherit;

 
margin:0;
    -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
  overflow: hidden;
  display: flex;
        flex-wrap: nowrap;
     
        align-items: center; 
        flex-direction: column; 
         align-items: center;
  justify-content: center;

}


.gridheader {
  order:1;
     width: 400px;
     height:100px;
 
  display: flex;
        flex-wrap: wrap;
        margin-top:300px;
   /*      -webkit-transform: translate(0, 200px);
    transform: translate(0, 200px); */
    justify-content: center;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;

}


#show-about-me {


cursor: pointer; 
  order:3;
 
margin-top:5px;



} 


.header__left {
width:100px;
height:100px;
order:1;
 border:2px solid white;

    background: lightblue;
   
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
    

   /*  -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
  
  }


  .header__right {
  width:300px;
  height:100px;
order:2;
border:2px solid white;
border-left:0;
     /*  background: #990505; */
  
      font-size: 12px;
      
      color: white;
      text-align: center;
      -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
     /*  -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0); */
      font-family: 'Orbitron', sans-serif;
      font-size: 22px;
      padding: 0 10px 10px 10px;
      
  }


  

 .gridheader.open {
   margin-left:-200px;
  margin-top:200px;
  margin-bottom:-2px;
/*   -webkit-transform: translate(0, 0);
    transform: translate(0, 0); */
         transition: all 800ms cubic-bezier(0.645,.045,0.355,1);  
  }

  .gridheader.open2 {
    margin-left:-200px;
   margin-top:200px;
   margin-bottom:-2px;
/*    -webkit-transform: translate(0, 0);
     transform: translate(0, 0); */
          transition: all 800ms cubic-bezier(0.645,.045,0.355,1);  
   }
  

  body {
    margin: 0;
  background-image:url(../img/back.jpg);
  }

.aboutme {

   display: flex; 
     flex-wrap: wrap;
     order:2;
 width:600px;
 height:200px;
margin-top:2%;
 margin-left:0px;
  justify-content: center;
}


#show-menu {


    order:4;
 
opacity:0;margin-top:5px;

} 


#show-menu.open {
 
  cursor: pointer;
 animation: topFadeOut 3.5s forwards, polygons2 1.5s infinite; 

}

@keyframes topFadeOut {
  
  from
  {
     opacity: 0;
  }

  to {
   
    opacity: 1;
  }

  
}

  

      @keyframes polygons2 {
    
      50% {
 
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {

        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }


  .mybio {
     width:300px;
     height: 200px;
     order:1;
     padding-top: 0;
     padding-left: 10px;
     padding-right: 10px;
       padding-bottom: 10px;
         border:2px solid white;
      
      font-size: 14px;
      font-family: 'Mina', sans-serif;
      color: white;
      text-align: left;
      -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
       -webkit-transform: translate(-1000px, 0);
      transform: translate(-1000px, 0); 
  }

  .mybio.open, .myphoto.open, .social.open, .mysites.open, .mylogos.open, .mycards.open, .myart.open, .myscience.open, .mycv.open, .gridfooter.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
        transition: all 800ms cubic-bezier(0.645,.045,.355,1);
  }


  .myphoto {
    width:200px;
     height: 200px;
     order:2;
  
      border:2px solid white;
      font-size: 12px;
      font-family: "source-sans-pro", sans-serif;
      color: white;
      text-align: left;
      -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
        -webkit-transform: translate(0, 1000px);
      transform: translate(0, 1000px); 
     /*  -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0); */
  
  }

  .social {
    width:100px;
     height: 100px;
     order:3;
     border:2px solid white;
      margin-top:100px;
      font-size: 12px;
      font-family: "source-sans-pro", sans-serif;
      color: white;
      text-align: left;
      -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
    /*     -webkit-transform: translate(1000px, 0);
      transform: translate(1000px, 0);  */
       -webkit-transform: translate(1000px, 0);
      transform: translate(1000px, 0); 
  
  }
  

.nav {
   display: flex;
   order:3; 
   width:600px;
   height:100px;
flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
      

}

  .mysites {
   
      order:1;
 width:200px;
  height:100%;
  
  
  border:2px solid white;
    
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
  
      -webkit-transform: translate(-2000px, 0);
      transform: translate(-2000px, 0);  
   
  }

   
  
  /* .mysites:hover {
    cursor: pointer;
  
      background-image: url(../img/bg-menu.jpg);
          transform: rotateZ(-45deg) scale(10) translateY(27px);
    transition: all 800ms cubic-bezier(0.645,.045,.355,1);
  }
 */

 .mysites.show {
    background-image: url(../img/bg-menu.jpg);
          transform: rotateZ(-45deg) scale(10) translateY(27px);
    transition: all 800ms cubic-bezier(0.645,.045,.355,1);
  }



 .mylogos {
   
      order:2;
 width:200px;
  height:100%;
  
  
  border:2px solid white;
    
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
  
       -webkit-transform: translate(0, 1000px);
      transform: translate(0, 1000px);  
   
  }



  .mycards {
   
      order:3;
 width:200px;
  height:100%;
 
  
  border:2px solid white;
    
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
   /*  -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
       -webkit-transform: translate(2000px, 0);
      transform: translate(2000px, 0);  
   
  }


    .myart {
   
      order:7;
 width: 200px;
  height:100px;
 
  
  border:2px solid white;
    
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
   /*  -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
       -webkit-transform: translate(2000px, 0);
      transform: translate(2000px, 0);   
     }
 

     .myscience {
   
      order:6;
 width:200px;
  height:100px;
 
  border:2px solid white;
    
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
   
    -webkit-transform: translate(0, 1000px);
      transform: translate(0, 1000px);   
   
  }


      .mysocial {
   
      order:4;
 width:100px;
  height:100px;
 
 
  border:2px solid white;
    
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
   /*  -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
        -webkit-transform: translate(2000px, 0);
      transform: translate(2000px, 0);  
   
  }

       .mycv {
   
      order:5;
 width:100px;
  height:100px;
 
  /* display: none; */
  border:2px solid white;
    
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
   /*  -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
    -webkit-transform: translate(-1000px, 0);
      transform: translate(-1000px, 0);  
   
  }


  .gridfooter {
  order:4;
     width: 400px;
     height:100px;
 
  display: flex;
        flex-wrap: wrap;
        margin-left:200px;
        margin-top:100px;
         -webkit-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
    justify-content: center;

}


.copyright {
width:100px;
height:100px;
order:2;
 
border:2px solid white;
   
    font-size: 12px;
    font-family: "source-sans-pro", sans-serif;
    color: white;
    text-align: left;
    -moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box;
    

   /*  -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0); */
  
  }


  .mycontacts {
  width:300px;
  height:100px;
order:1;
border:2px solid white;
  
      font-size: 12px;
      font-family: "source-sans-pro", sans-serif;
      color: white;
      text-align: left;
      -moz-box-sizing: border-box; /* Для Firefox */  
      box-sizing: border-box;
     /*  -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0); */
     
  }

.anima3 {
    
  animation: polygons 1.5s infinite;
  }

    @keyframes polygons {
    
      
      50% {
      
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
     
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }

  


 /* .anima1 {
    animation: polygons 0.5s forwards;
  }

 .anima2 {
    animation: polygons 0.5s forwards;
  }
  
  @keyframes polygons {
    to {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
  } */


  /* .anim {
     display: inline-block; 
    position:absolute;
    top: 400px;
    left: 100px;
    width: 250px;
    height: 250px;
    background: orange;
    cursor: pointer;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    animation: polygons 4s alternate infinite;
  }
  
  @keyframes polygons {
    25% {
      clip-path: polygon(20% 0%, 100% 38%, 70% 90%, 0% 100%);
      background: pink;
    }
    50% {
      clip-path: polygon(0 46%, 100% 15%, 55% 74%, 0 100%);
      background: orange;
    }
    75% {
      clip-path: polygon(100% 38%, 100% 38%, 66% 100%, 0 53%);
      background: cornflowerblue;
    }
  } */