@media screen and (max-width:600px) {
    .wrapper {
      
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(7, 100px);
    grid-template-areas:
        "l l h h h h"
        "b b b b p p"
        "b b b b p p"
        "ms ms ms ml ml ml"
        "mc mc mc msc msc msc"
        "s s mcv  mcv ma ma"
        "cop cop cop cop con con" ;
        align-content: normal;	
        justify-content: normal;	
      }

}


@media screen and (max-height:700px)
{
    .wrapper {
        height: 700px;
  border: 1px solid rgb(26, 138, 158);

  
}

@media screen and (min-height:700px)
{
    .wrapper {
align-items: center; 
justify-content: center;
 
    }
}