#card {
    width: 302px;
    border: 1px solid rgb(197, 197, 197);
    padding: 10px;
    font-family: 'Economica', sans-serif;
    font-size: 20px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px; 
}

.image {
    text-align: center;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;  
    border: 1px solid rgb(197, 197, 197);
}

.description {
    width: 280px;
    padding:10px;
    margin-top:10px;
    border: 1px solid rgb(197, 197, 197);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px; 
}

.shortdesc {
    font-style: italic;
    margin:0px;
}

.longdesc {
    margin:0px;
}

.title {
    margin:0px;
    margin-bottom:2px;
    font-size: 35px;
}

.list {
    list-style-type: none;
    padding-left: 7px;
    margin:5px;
}

.listmaintext {
    font-size: 22px;
    font-weight: bold;
}